.pagina {
	background-color: lightgoldenrodyellow;
	max-width: 100%
}
.div_bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 2rem 2rem 1rem;
	justify-content: space-around;

}

.imagem_bares {
  	height: 5rem;
 	width: 5rem;
 }

.titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	font-family: 'Patua One', cursive;

}
.logo {
	display: flex;
	justify-content: center;
  	align-items:center;
  	height: 5rem;
 	width: 5rem;
}
.titulo_bar {

	 font-family: 'Patua One', cursive;
	 font-size: 1.5rem;

	 color:black;
	 
}
.header {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	padding-top: 1rem;
	align-content: center;

	padding-bottom: 1rem;
}
.subtitulo {
	font-size: 2rem;
	font-family: 'Fjalla One', sans-serif;
	padding: 2rem 2rem 2rem ;
	padding-bottom: 0rem;
}
.filtro {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 2rem;
	border-style: solid;
	border-width: 0.2rem;
	border-radius: 2rem;

}
.corpo {
	
	font-size: 2rem;
	font-family: 'Fjalla One', sans-serif;
}
.cada_bar {
	display: grid;
	grid-template-rows: 2fr 1fr;
	align-items: center;
	justify-content: center;
}

.cada_bar > a {
	text-decoration: none;
}

.nome_bar {
	font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
	padding-top: 0.3rem;
	text-align: center;
	color: black;
}
.imagem_principal {
	height: 7rem;
 	width: 7rem;
 	margin: 1rem;

}
.estrutura_descricao_bares {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.estrutura_imagem_bares {
	display: grid;
	grid-template-rows: 0.1fr 0.3fr;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.imagem_grande_bares {

	
 	
 	
}
.descricao {

}

.especificacoes{
	border: solid;
	align-content: center;
	justify-content: center;
}

.titulo_filtro {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	font-family: 'Fjalla One', sans-serif;
	padding: 2rem 2rem 2rem ;
	padding-bottom: 0rem;
	text-align: center;

}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.range-labels {
  margin-top: 1rem;
  margin-left: 0.5rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

  .active {
    color: #37adbf;
  }
  
  .selected::before {
    background: #37adbf;
  }
  
  .active.selected::before {
    display: none;
  }
}

.filtro_regiao {
	font-family: 'Fjalla One', sans-serif;
	
}