.div_bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 2rem 2rem 1rem;
	justify-content: space-around;

}

.imagem_bares {
  	height: 5rem;
 	width: 5rem;
 }

.titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	font-family: 'Patua One', cursive;

}
.logo {
	display: flex;
	justify-content: center;
  	align-items:center;
  	height: 5rem;
 	width: 5rem;
}
.titulo_bar {

	 font-family: 'Patua One', cursive;
	 font-size: 2rem;
	 margin-top: 0.5rem;
	 color: red;
	 
}
.header {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	padding-top: 1rem;
	align-content: center;
	background-color: green;
	padding-bottom: 1rem;
}
.subtitulo {
	font-size: 2rem;
	font-family: 'Fjalla One', sans-serif;
	padding: 2rem 2rem 2rem ;
	padding-bottom: 0rem;
}
.filtro {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 2rem;
	border-style: solid;
	border-width: 0.2rem;
	border-color: red;
	border-radius: 2rem;

}
.corpo {
	
	font-size: 2rem;
	font-family: 'Fjalla One', sans-serif;
}
.cada_bar {
	display: grid;
	grid-template-rows: 2fr 1fr;
	align-items: center;
	justify-content: center;
}
.nome_bar {
	font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
	padding-top: 0.3rem;
	text-align: center;
}
.imagem_principal {
	height: 10rem;
 	width: 10rem;
 	margin: 1rem;

}
.estrutura_descricao_bares {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.estrutura_imagem_bares {
	display: grid;
	grid-template-rows: 0.1fr 0.3fr;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.imagem_grande_bares {

	height: 20rem;
 	width: 20rem;
 	border-radius: 2rem;
 	border-style: solid;
 	border-width: 0.8rem;
 	border-color: green;
 	margin: 1rem;
}
.descricao {

}
